# Archivos de Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.terraform.lock.hcl

# Variables sensibles
*.tfvars
*.pem
*.key
secrets.tfvars

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log