# terraform.tfvars.example
# Copy this file to terraform.tfvars and edit the values

# AWS Configuration
aws_region = "us-east-1"

# Project configuration
project_name = "hello-world-app"
environment  = "dev"

# Network configuration
vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"
availability_zone  = "us-east-1a"

# Instance configuration
instance_type = "t2.micro"

# Docker configuration
docker_image = "erick1109/hello-world-app:v1"