# terraform.tfvars.example
# Copia este archivo a terraform.tfvars y edita los valores

# Configuración de AWS
aws_region = "us-east-1"

# Configuración del proyecto
project_name = "hello-world-app"
environment  = "dev"

# Configuración de red
vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"
availability_zone  = "us-east-1a"

# Configuración de instancias
instance_type = "t2.micro"

# Configuración de Docker
docker_image = "erick1109/hello-world-app:v1"